.grid__title {
	text-align: center;
}

.grid__wrapper {
	display: -ms-grid;
	display: grid;
	margin: 0 auto;
	padding: 0;
	grid-gap: var(--gap, 1rem);
	max-width: var(--max-width, 1366px);
	width: var(--width, 100%);
	list-style: none;
	--width: 100%;
	--gutter: 0.5em;
	--grid-sidebar: 300px;
}

.grid__wrapper {
	--column-mobile: 1fr;
	grid-template-columns: var(--column-mobile, var(--column-count));
}

.grid__wrapper+.grid__wrapper {
	padding-top: var(--gap);
}

.grid__row {
	grid-column: 1 / -1;
	padding-bottom: calc(var(--gap) * 2);
}

.grid__column {
	--flow: column;
	--align-items: unset;
	--justify-content: unset;
	display: flex;
	align-items: var(--align-items);
	justify-content: var(--justify-content);
	flex-direction: var(--flow);
	gap: var(--gutter);
	padding: var(--gutter);
	margin: 0;
}

@media only screen and (max-width: 768px) {

	.grid__column {
		--first-order: unset;
		order: var(--first-order);
	}
}

@media only screen and (max-width: 768px) {

	.grid__column {
		--first-order: unset;
		order: var(--first-order);
	}

}


/* Small screens display a padding left and right in each column  */
@media only screen and (max-width: 1268px) {
	.grid__column {
		padding: 0 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.grid__wrapper.sidebar {
		grid-template-columns: var(--grid-sidebar) 1fr !important;
	}

	.grid__wrapper.sidebar__right {
		grid-template-columns: 1fr var(--grid-sidebar) !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.grid__wrapper {
		grid-template-columns: var(--column-table, var(--column-count));
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1268px) {

	.grid__wrapper {
		grid-template-columns: var(--column-laptop, var(--column-count, var(--column-table)));
	}
}

@media only screen and (min-width: 1268px) {

	.grid__wrapper {
		grid-template-columns: var(--column-desktop, var(--column-count, var(--column-laptop, var(--column-table))));
	}
}